<!doctype html>
<html>
<head>
    <title>The Curious Quoran</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
    p
    {
    	float: left;
    }

    img {
    	width:100%;
    	float: left;
    }
    .tiles
    {
    	float: left;
    }
    </style>
</head>

<body>
    {% for a,b in data %}
    <div class="tiles">
    	<p>{{a}}<p>
    	<img src = {{b}} style="width:200px; height:200px" >
    </div>
    {% endfor %}
</body>
</html>