body {
    background-color: #FFFFFF;
}

.classname {
    /*VISUAL PROPERITIERS*/
        text-align:center;
        background:#ffffff;
        width: 10%;
        float:left;
    /*MOTION AND TRANSITIONS*/
        transition:All 0.50s ease;
        -webkit-transition:All 0.50s ease;
        -moz-transition:All 0.50s ease;
        -o-transition:All 0.50s ease;

        -webkit-transform:rotate(0deg) scale(1) skew(1deg) translate(0px);
        -moz-transform:rotate(0deg) scale(1) skew(1deg) translate(0px);
        -o-transform:rotate(0deg) scale(1) skew(1deg) translate(0px);
        -ms-transform:rotate(0deg) scale(1) skew(1deg) translate(0px);
        transform:rotate(0deg) scale(1) skew(1deg) translate(0px);
}

.classname:hover {
    /*VISUAL PROPERITIERS*/
        background:#575757;
        
    /*MOTION AND TRANSITIONS*/
        -webkit-transform:rotate(360deg) scale(0.67) skew(1deg) translate(0px);
        -moz-transform:rotate(360deg) scale(0.67) skew(1deg) translate(0px);
        -o-transform:rotate(360deg) scale(0.67) skew(1deg) translate(0px);
        -ms-transform:rotate(360deg) scale(0.67) skew(1deg) translate(0px);
        transform:rotate(360deg) scale(0.67) skew(1deg) translate(0px)
}


p {
    font-size: 100px;
}

